{% extends 'layout-tms.html.twig' %}

{% block meta_tags %}
    <meta property="og:image" content="{{ meme.imageUrl }}" />
{% endblock %}

{% block content %}
    <div class="text-center">
        <img src="{{ meme.imageUrl }}" label="{{ meme.textTop }}, {{ meme.textBottom }}">
    </div>
{% endblock %}

{% block share_content %}
    <div id="share">
        <div class="share-twitter share-item">
            <a href="http://twitter.com/share" class="twitter-share-button">&nbsp;</a>
            <script type="text/javascript"><!--
            $('a.twitter-share-button').attr({
                'data-count':   'vertical',
                'data-via':     'TheMarySue',
                'data-url':     '{{ meme.shareUrl }}',
                'data-text':    '{{ meme.shareText }}',
                'data-related': ['Mediaite', 'GossipCop', 'Styleite', 'Geekosystem', 'SportsGrid', 'TheJaneDough', 'TheBraiser'].join(',')
            });
            --></script>
            <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
        </div>

        <div class="share-facebook share-item">
            <iframe src="http://www.facebook.com/plugins/like.php?href={{ meme.shareUrl|url_encode }}&amp;layout=box_count&amp;show-faces=false&amp;action=like&amp;width=51&amp;font=arial&amp;colorscheme=light" scrolling="no" frameborder="0" id="facebook-like-inner"></iframe>
        </div>

        <div class="share-plusone share-item">
            <div class="g-plusone"></div>
            <script type="text/javascript">
            $('div.g-plusone').attr({
                'data-size':  'tall',
                'data-count': 'false'
            });
            (function() {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
            })();
            </script>
        </div>

        <div class="share-pinterest share-item" >
            <a href="http://pinterest.com/pin/create/button/?url={{ meme.shareUrl|url_encode }}&amp;media=http://static03.mediaite.com/themarysue/uploads/2013/10/hqdefault5-300x225.jpg&amp;description={{ meme.shareText|url_encode }}" class="pin-it-button" count-layout="vertical">
                <img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" />
            </a>
        </div>

        <div class="share-reddit share-item">
            <script type="text/javascript">
            reddit_url = "{{ meme.shareUrl }}";
            reddit_title = "{{ meme.shareText }}";
            reddit_newwindow='1';
            </script>
            <script type="text/javascript" src="http://www.reddit.com/static/button/button3.js"></script>
        </div>

        <div class="share-tumblr share-item">
            <script src="http://platform.tumblr.com/v1/share.js"></script>
            <a href="http://www.tumblr.com/share" title="Share on Tumblr" style="display:inline-block; text-indent:-9999px; overflow:hidden; width:62px; height:20px; background:url('http://platform.tumblr.com/v1/share_2.png') top left no-repeat transparent;">Share on Tumblr</a>
        </div>
    </div>
{% endblock %}