{% extends 'layout.html.twig' %}

{% block content %}
    <div class="text-center">
        <img src="/images/{{ meme.getImage().id }}" label="{{ meme.textTop }}, {{ meme.textBottom }}">

        <br><br>

        <div class="fb-like" data-href="{{ meme.shareUrl }}" data-colorscheme="light" data-layout="box_count" data-action="like" data-show-faces="false" data-send="false"></div>
        &nbsp;&nbsp;
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ meme.shareUrl }}" data-lang="en" data-count="vertical">Tweet</a>
        &nbsp;&nbsp;
        <div class="g-plus" data-url="{{ meme.shareUrl }}" data-action="share" data-annotation="vertical-bubble" data-height="60"></div>
    </div>
{% endblock %}

{% block javascripts %}
    <!-- Facebook -->
    <script>
    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=137971133063113";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>

    <!-- Twitter -->
    <script>
    !function(d,s,id){
    var js,fjs=d.getElementsByTagName(s)[0];
    if(!d.getElementById(id)){
    js=d.createElement(s);
    js.id=id;
    js.src="https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js,fjs);}}
    (document,"script","twitter-wjs");
    </script>

    <script type="text/javascript">
    (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
    </script>
{% endblock %}