{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row">
        <section class="col-lg-9">
            <h2>Moderation Queue</h2>

            <div class="memes">
                {% for meme in memes %}
                    <div class="meme" data-id="{{ meme.id }}">
                        <img src="/images/{{ meme.getImage.id }}" width="200">
                    </div>
                {% else %}
                    Nothing to moderate! Yay! Check back later though.
                {% endfor %}
            </div>
        </section>

        <section class="col-lg-3 source-images">
            <h2>Images</h2>
            <div class="images text-center">
                {% for image in images %}
                    <img src="/images/{{ image.id }}-115-115-crop" data-id="{{ image.id }}" class="img-thumbnail">
                {% endfor %}
            </div>

            <h2>Upload</h2>
            <form action="/api/images" method="post" enctype="multipart/form-data">
                <input type="file" name="image">
                <button type="submit" class="btn btn-primary">Upload</button>
            </form>
        </section>
    </div>

    <!-- Approve/reject overlaying -->
    <div class="meme-overlay" style="display:none">
        <div><span class="glyphicon glyphicon-ok approve"></span></div>
        <div><span class="glyphicon glyphicon-remove reject"></span></div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link href="/assets/css/admin.css?{{ constant('REVISION') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
    // Delete image
    $(".images img").click(function(e) {
        if (! confirm("Please confirm you want to delete this image?")) {
            return;
        }

        var image = $(this);
        var id    = image.data("id");

        $.ajax({
            url     : "/api/images/" + id,
            type    : "DELETE",
            success : function() {
                image.remove();
            }
        })
    });

    // Meme overlay thingie
    (function() {
        var overlayOn = true;
        var memeId;

        // Aprove/reject memes
        var updateMeme = function(status) {
            overlayOn = false;
            hideOverlay();

            $.ajax({
                url: "/memes/" + memeId,
                data: { status: status },
                type: "POST", // PUT doesn't seem to be working for some reason :(
                error: function() {
                    alert("Something went wrong. Please reload the page and try again.");
                }
            });

            $(".memes")
                .isotope(
                    "remove",
                    $(".meme[data-id=" + memeId + "]"),
                    function() {
                        overlayOn = true;
                    }
                );
        };
        var showOverlay = function(meme) {
            if (! overlayOn)
                return;

            memeId = meme.data("id");

            $(".meme-overlay")
                .css({
                    width      : (meme.width() + 2 * parseInt(meme.css("padding-left"))) + "px",
                    height     : (meme.height() + 2 * parseInt(meme.css("padding-top"))) + "px",
                    left       : meme.offset().left + "px",
                    top        : meme.offset().top + "px",
                    paddingTop : ((meme.height() / 2) - 30) + "px"
                })
                .show();
        };
        var hideOverlay = function() {
            $(".meme-overlay").hide();
        };

        $(".meme-overlay .approve").click(function(e) {
            e.preventDefault();

            if (confirm("Please confirm you want to approve this meme.")) {
                updateMeme("published");
            }
        });
        $(".meme-overlay .reject").click(function(e) {
            e.preventDefault();

            if (confirm("Please confirm you want to reject this meme.")) {
                updateMeme("rejected");
            }
        });

        // Approve/reject image
        $(window).load(function() {
            $(".memes .meme").mouseover(function() { showOverlay($(this)); });
            $(".meme-overlay").mouseout(function() { hideOverlay(); });
        });
    })();

    // Isotope to make things prettier
    {% if memes.count(true) %}
        $(window).load(function() {
            var $container = $(".memes");

            $container.isotope({
                resizable: false,
                masonry : {
                    columnWidth: $container.width() / 4
                }
            });
        });
    {% endif %}
    </script>
{% endblock %}